<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>動物検索画面</title>
</head>
<body>
    <h1>動物検索画面</h1>
    <form action="/animal-detail" method="get">
        <select name="id">
            <option value="">選択してください</option>
            <th:block th:each="animal : ${animals}">
                <option th:value="${animal.id}" th:text="${animal.japaneseName}"></option>
            </th:block>
        </select>
        <button type="submit">検索</button>
    </form>
</body>
</html>
