<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>動物詳細画面</title>
    <style>
        .back-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: black;
            background-color: lightgray;
            text-decoration: none;
            border-radius: 5px;
            border: none;
        }

        .back-button:hover {
            background-color: #0056b3;
        }
        
        .animal-details {
            margin-left: 50px; 
        }
    </style>
</head>
<body>
    <h1>動物詳細画面</h1>
    <div class="animal-details">
        <p>No: <span th:text="${animal.id}"></span></p>
        <p>英名: <span th:text="${animal.englishName}"></span></p>
        <p>和名: <span th:text="${animal.japaneseName}"></span></p>
        <p>鳴き声: <span th:text="${animal.sound}"></span></p>
    </div>
    <a href="/animal-search" class="back-button">トップへ</a>
</body>
</html>
